.formation-date {
  font-size: 1.8em;
  font-size: 1.8em;
  font-style: oblique;
  margin: 0.5em 0 1em 0;
}

.formation-school {
  font-size: 2em;
  font-style: oblique;
  padding-left: 4em;
}
.formation-name {
  font-size: 1.3em;
  padding: 1em 0 0 3em;
}

.formation-describe {
  font-size: 1.3em;
  padding: 0 0 4em 3em;
}
