.experience-info {
  padding: 2em;
}

.experience-date {
  font-size: 1.8em;
  font-style: oblique;
  margin: 0.5em 0 0em 0;
  padding-bottom: 50px;
}

.experience-name {
  font-size: 2.5em;
  font-style: oblique;
  margin-left: 1em;
}

.experience-describe {
  font-size: 1.5em;
  padding-left: 50px;
}
.experience-poste {
  font-size: 1.5em;
  padding-left: 50px;
  padding-top: 30px;
}
.assosLogo {
  vertical-align: middle;
  padding-left: 50px;
}
