#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100%;
  background: #212121;
  overflow: hidden;
  z-index: 1;

  .nav-button {
    position: relative;
    margin-top: 60px;
    font-size: 25px;
    width: calc(100% - 60px);
    padding: 20px 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: #ffffff1a;
      z-index: -1;
      transition: all 0.3s;
    }

    &.active::before {
      width: 100%;
    }
  }

  a:hover .nav-button::before {
    width: 100%;
  }
}

.logo {
  margin-top: 100px;
  margin-bottom: 100px;
}

.fade {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
  vertical-align: middle;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.slide {
  position: absolute;
  left: -100px;
  background: blue;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
}

@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}
